---
name: Test
on: workflow_call

jobs:
  test-1:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          persist-credentials: false
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: .node-version
          cache: npm
      - run: npm ci
      - run: npm run build

      - uses: ./
        with:
          handler: octokit/rest.js
          data: |
            method: rest.issues.addLabels
            data:
              owner: ${{github.event.repository.owner.login}}
              repo: ${{github.event.repository.name}}
              issue_number: ${{github.event.pull_request.number}}
              name: test
